<p id="notice"><%= notice %></p>

<p style="text-align: left;">
  <b>Statement:</b>
  <%= @question.statement %>
</p>


<% if @question.options.count < 25 %>
<% @question.options.each do |option| %>
  <ul style="text-align: left;">
	<li><%= option.name%></li>
  </ul>
  <% end %>
<% else %>
  <table border="1">
	  <tr>
  <% @question.options.each_with_index do |option,index| %>

	<td>   <%= option.name %></td>
	<% if (index+1)%5==0 %>
	  </tr>
	  <% end %>

	<% end %>
	</table>


  <% end %>
<p style="text-align: left;">
  <b>Answer:</b>
  <%= @question.answer %>
</p>




<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Question Index', questions_path %> |
<br>                                    <br> <br>



<% if @question.type_id != 3 %>
		  <% if  @question.options.count==0 %>
	             <% if @question.category_id!=1 %>
			<td><%= link_to 'Add Option', :controller => :options, :action => 'new', :qid=>@question.id %></td>|
	  <% else %>
			<td><%= link_to 'Generate Matrix', :controller => :matrix, :action => 'index', :question_id=>@question.id %></td>|
	  <% end %>

		  <% else %>
		  <% end %>
		  <% else %>
		<td>Its an Open ended Question !! </td>
		<% end %>
