<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
  <%= stylesheet_link_tag :all, :recursive=>true, :media=>"screen", :cache=>true %>
  <%= javascript_include_tag :all %>
  <%= csrf_meta_tag %>
  <link rel="icon" href="/favicon.ico" type="image/ico"/>
  <link rel="shortcut icon" href="/favicon.ico" type="image/ico"/>

  <script type="text/javascript">

      /* IMAGE ROLLOVER SCRIPT */

      // Preload the images for speed
      $.preloadImages('/images/menu/start_button_on.png');
      // Set up rollover
      $(
              function() {

                  $("img.rollover").hover(
                          function() {
                              this.src = this.src.replace("_off", "_on");
                          },
                          function() {
                              this.src = this.src.replace("_on", "_off");
                          }
                  );
              }
      )

  </script>

  <%= yield(:head) %>
</head>
<body>

<div class="empty_single_large_container">
  <div id="login_container">
    <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
    <% end %>
    <%= content_tag :h1, yield(:title) if show_title? %>
    <%= yield %>
  </div>

</div>
</body>
</html>
