<%= form_for(@facilitator_group) do |f| %>
  <% if @facilitator_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@facilitator_group.errors.count, "error") %> prohibited this facilitator_group from being saved:</h2>

      <ul>
      <% @facilitator_group.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
	<%= f.label "Client Name"  %>
    <%= f.select :client_id,Client.all.map{|client|[ client.name , client.id] } %>
	</div>
    <br>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
